/* ESTILIZAÇÕES GLOBAIS */

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #000000;
    color: white;
    font-family: 'Exo';
}

p,ul{
    color:rgb(138, 138, 138);
}

h1{
    font-size: 50px;
}

/* INICIO DO SITE (MENU E APRESENTAÇÃO) */

header{
    position: fixed;
    background-color: #3a3a3a;
    width: 100%;
    height: 100px;
    top: 0px;
    left:0px;
    padding: 0px;
    margin: 0px;
    z-index: 2;
}

#logo img{
    width: 100px;
    height: 100px;
}

.contatos img{
    width: 50px;
    height: 50px;
    float: right;
    padding-right: 8px;
    margin-top: 50px;
}

section#apre{
    width: 100%;
    height: 170px;
    margin: 300px 0 250px 0;
    position: relative;
    z-index: 1;
}
section#apre img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 45%;
    margin: -100px 0 0 -300px;
    border-style: solid;
    border-radius: 200px;
    border-color: #1d1d1d;
}

section#apre p{
    color: #ffffff;
    font-size: 40px;
    position: absolute;
}

section#apre p:first-of-type{
    top: 16%;
    left: 47.5%;
}
section#apre p:last-of-type{
    top: 40%;
    left: 45%;
}

section#sobremim h1{
    text-align: center;
    margin: 0 0 150px 0;
}

section#sobremim div{
    border-style: solid;
    border-radius: 10px;
    width: 350px;
    padding-left: 5px;
}

/* SOBRE MIM */