/* ESTILIZAÇÕES GLOBAIS */

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #000000;
    color: white;
    font-family: 'Exo';
}

p,ul{
    color:rgb(138, 138, 138);
    font-size: 16px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 26px;
}

/* INICIO DO SITE (MENU E APRESENTAÇÃO) */

header{
    position: fixed;
    background-color: #3a3a3a;
    width: 100%;
    height: 100px;
    top: 0px;
    left:0px;
    padding: 0px;
    margin: 0px;
    z-index: 2;
}

#logo img{
    width: 100px;
    height: 100px;
}

.contatos img{
    width: 50px;
    height: 50px;
    float: right;
    padding-right: 8px;
    margin-top: 50px;
}

section#apre{
    width: 100%;
    height: 170px;
    margin: 300px 0 400px 0;
    position: relative;
    z-index: 1;
}
section#apre img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10%;
    left: 45%;
    margin: -100px 0 0 -300px;
    border-style: solid;
    border-radius: 200px;
    border-color: #1d1d1d;
}

section#apre p{
    color: #ffffff;
    font-size: 40px;
    position: absolute;
}

section#apre p:first-of-type{
    top: -30%;
    left: 47.5%;
}
section#apre p:last-of-type{
    top: 0%;
    left: 45%;
}

/* SOBRE MIM */

section#sobremim{
    position: relative;
    margin: 0 0 1100px 0;
}

section#sobremim h1{
    text-align: center;
    margin: 0 0 150px 0;
}

section#sobremim h2{
    padding-left: 10px;
}

section#sobremim div{
    border-style: solid;
    border-radius: 10px;
    padding: 12px;
    width: 350px;
    height: 390px;
    position: absolute;
}

section#sobremim div:nth-of-type(1){
    left: 15%;
}
section#sobremim div:nth-of-type(2){
    left: 55%;
}
section#sobremim div:nth-of-type(3){
    left: 15%;
    top: 1000%;
}
section#sobremim div:nth-of-type(4){
    left: 55%;
    top: 1000%;
}

section#sobremim div:nth-of-type(1) p{
    font-size: 24px;
}
section#sobremim div:nth-of-type(2) p{
    padding: 0px;
    margin: 13px;
    font-size: 22px;
}
section#sobremim div:nth-of-type(3) p{
    font-size: 19px;
}
section#sobremim div:nth-of-type(4) p{
    font-size: 17px;
}

/* TECNOLOGIAS */

section#tecno{
    position: relative;
    left: 200px;
}

section#tecno h1, section#tecno p{
    border-style: solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

section#tecno h1{
    height: 300px;
    width: 350px;
}

section#tecno p{
    height: 50px;
    width: 200px;
}

section#tecno p:nth-of-type(1), section#tecno p:nth-of-type(2), section#tecno p:nth-of-type(3){
    left: 450px;
}
section#tecno p:nth-of-type(4), section#tecno p:nth-of-type(5), section#tecno p:nth-of-type(6){
    left: 720px;
}
section#tecno p:nth-of-type(1), section#tecno p:nth-of-type(4){
    top: 25px;
}
section#tecno p:nth-of-type(2), section#tecno p:nth-of-type(5){
    top: 150px;
}
section#tecno p:nth-of-type(3), section#tecno p:nth-of-type(6){
    top: 275px;
}